*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landing{
    padding-inline: 100px;
}

.navigasi{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.menu{
    display: flex;
}

.menu .menu-item{
    text-decoration: none;
    color: #000;
    font-family: "Space Grotesk";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 20px 35px;
    align-items: flex-start;
}

.button{
    display: flex;
    border: 1px solid #191A23;
    border-radius: 14px;
}
.button a{
    text-decoration: none;
    color: #000;
    font-family: "Space Grotesk";
    font-size: 20px;
    align-items: center;
    padding: 20px 35px;
    font-style: normal;
}

.header{
    display: flex;
    width: 1440px fixed;
    height: 515px;
    justify-content: space-between;
    padding: 0px 100px;
    margin-top: 70px;
}

.main{
    width: 531px;
    height: 481px;
    justify-content: space-between;
    margin-bottom: 35px;
}

.main h1{
    color: #000;
    font-family: "Space Grotesk";
    font-weight: 500;
    font-size: 60px;
    line-height: 76.56px;
}

.main p{
    color: #000;
    font-family: "Space Grotesk";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.main button{
    background: #191A23;
    width: 264px;
    height: 68px;
    border-radius: 14px;
    padding: 20px 35px;
    margin-bottom: 34px;
}

.main button a{
    text-decoration: none;
    font-family: "Space Grotesk";
    font-size: 20px;
    color: white;
}

.illustration{
    display: flex;
    width: 600.46px;
    height: 515px;

}

.company{
    width: 1440px fixed;
    height: 48px;
    justify-content: space-between;
    padding-inline: 100px;
}

.company-logo{
    width: 1240px fixed;
    height: 48px;
    justify-content: space-between;
    gap: 96px;
    display: flex;
}

.company-logo img{
    width: 120px;
    height: 48px;
  
}

.heading{
    display: flex;
    width: 1443px fixed;
    height: 51px fixed;
    margin-top: 115px;
    padding: 0px 100px;
    gap: 40px;
    margin-bottom: 115px;
}

.services{
    width: 1240px fixed;
    height: 51px fixed;
    gap: 40px;
}

.services img{
    width: 178px;
    height: 51px;
}

.heading p{
    width: 580px;
    height: 46px;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;
    text-align: left;

}

.card{
    display: flex;
    width: 1443px fixed;
    height: 1010px fixed;
    top: 1092px;
    padding: 0px 100px;
    gap: 40px;
    opacity: 0px;
}

.main-card{
    display: flex;
    width: 1240px fixed;
    height: 1010px;
    gap: 40px;
}

.card-1{
    display: flex;
    width: 600px fixed;
    height: 310px;
    padding: 50px;
    border-radius: 45px;
    border: 1px;
    justify-content: space-between;
    opacity: 0px;
    background: #F3F3F3;
    box-shadow: 0px 5px 0px 0px #191A23;
}
.card-1 .text-card-1{
    padding: 0px 7px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background: #B9FF66;
    font-family: "Space Grotesk";
    margin-bottom: 93px;
}

.card-1 .learn-more-1{
    display: flex;
    width: 164px;
    height: 41px;
    gap: 15px;
    opacity: 0px;
}

.card-1 .learn-more-1 img{
    width: 41px;
    height: 41px;
}

.card-1 .learn-more-1 p{
    font-family: "Space Grotesk";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: 6.5px;
    margin-bottom: 6.5px;
}

.card-1 .img-card-1{
    width: 210px;
    height: 170px;
    
}
.card-1 .img-card-1 img{
    width: 210px;
    height: 166.05px;
    top: 2px;

}
.card-2{
    display: flex;
    width: 600px fixed;
    height: 310px;
    padding: 50px;
    gap: 0px;
    border-radius: 45px;
    border: 1px;
    justify-content: space-between;
    opacity: 0px;
    background: #B9FF66;
    box-shadow: 0px 5px 0px 0px #191A23;
}
.card-2 .text-card-2{
    padding: 0px 7px;
    gap: 10px;
    border-radius: 7px;
    opacity: 0px;
    background: #FFFFFF;
    font-family: "Space Grotesk";
    margin-bottom: 93px;
}

.card-2 .learn-more-2{
    display: flex;
    width: 164px;
    height: 41px;
    gap: 15px;
    opacity: 0px;
}

.card-2 .learn-more-2 img{
    width: 41px;
    height: 41px;
}

.card-2 .learn-more-2 p{
    font-family: "Space Grotesk";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-top: 6.5px;
    margin-bottom: 6.5px;
}

.card-2 .img-card-2{
    width: 210px;
    height: 170px;
    
}
.card-2 .img-card-2 img{
    width: 210px;
    height: 166.05px;
    top: 2px;

}
